.container {
    max-width: 2540px;
    /*min-width: 1080px;*/
    margin: 0 auto;
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    position: relative;
}

#video-player {
    width: 100%;
    height: 100%;
    position: relative;
}

.player-wrapper {
    width: 60%;
    height: 422px;
}

.section-wrapper {
    width: 30%;
    height: 422px;
    background: #F1F2F3;
    border: honeydew 3px solid;
}

.video-sections {
    width: 100%;
    height: 100%;
    /*overflow-x: hidden;*/
    overflow-y: scroll;
    border: darkkhaki;
}

.video-sections-item-selected {
    color: #00AEEC;
    background: #FFFFFF;
}

.video-sections-item {
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-family: PingFang SC, HarmonyOS_Regular, Helvetica Neue, Microsoft YaHei, sans-serif;
}